@use "../partials/breakpoints" as *;
@use "../partials/variables" as *;
@use "../partials/typography";

.landing {
  height: 100vh;
  background-color: $primary-main;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_logo {
    margin-top: 20%;
    width: 15rem;
  }
}
