@use "./variables" as *;
@use "./typography" as *;

.navbar {
  background-color: $primary-main !important;
}
.nav {
  background-color: $primary-main;
}
.container {
  background-color: $primary-main;
}

.Logo {
  height: 2rem;
  width: 6rem;
  margin-left: 1rem;
}

.no-decoration {
  text-decoration: none;
  color: $txt-dark;
}
