$primary-main: #4be4c5;
$primary-light: #c8f6ed;
$primary-dark: #3ec8ac;
$primary-heavy: #2daf94;

$secondary-light: #bdc5d5;
$secondary-dark: #5c667e;

$txt-dark: #36454f;
$txt-light: #f7f8f9;

// #36454F
